<mat-toolbar color="primary" role="heading" style="padding-left: 0px;">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div
        class="col-6 d-flex no-wrap align-items-center"
        style="padding-left: 9px;"
      >
        <span class="button-overlay-pop">
          <button
            mat-icon-button
            (click)="openSettingsScreen()"
            isRoundButton="true"
            id="settingsButton"
            disableRipple="true"
          >
            <mat-icon>settings</mat-icon>
          </button>
        </span>
        <h1 style="padding-left: 10px;">Cryptocurrencies</h1>
      </div>
    </div>
  </div>
</mat-toolbar>
