.mat-refresh {
  background-color: #6fa3a3;
  color: #fff;
}

.refresh-button {
  padding: 20px 0px 10px 0px;
}

td,
th {
  border: 1px solid #ccc;
  height: 30px;
}

th {
  background: #6fa3a3;
  font-weight: bold;
}

td {
  background: #6fa3a3;
  text-align: center;
}

tr:nth-child(even) td {
  background: #f1f1f1;
}

tr:nth-child(odd) td {
  background: #a2dbdb;
}

tr td:hover {
  background: #6fa3a3;
  color: #fff;
}

h2 {
  padding: 30px 0 20px 0;
}

h3 {
  padding-bottom: 20px;
}
