<div class="coin-content">
  <div class="table-container">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell class="dc-label" *matHeaderCellDef>Name</th>
        <td mat-cell class="dc-content" *matCellDef="let element">
          {{ element.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="rank">
        <th mat-header-cell class="dc-label" *matHeaderCellDef>Rank</th>
        <td mat-cell class="dc-content" *matCellDef="let element">
          {{ element.cmcRank }}
        </td>
      </ng-container>

      <ng-container matColumnDef="symbol">
        <th mat-header-cell class="dc-label" *matHeaderCellDef>Symbol</th>
        <td mat-cell class="dc-content" *matCellDef="let element">
          {{ element.symbol }}
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell class="dc-label" *matHeaderCellDef>
          Price in {{ fiatCurrency }} currency
        </th>
        <td mat-cell class="dc-content" *matCellDef="let element">
          {{ element.quote.fiatCurrency.price }}
        </td>
      </ng-container>

      <ng-container matColumnDef="24hourChange">
        <th mat-header-cell class="dc-label" *matHeaderCellDef>
          24 hour change
        </th>
        <td mat-cell class="dc-content" *matCellDef="let element">
          {{ element.quote.fiatCurrency.percentChange24H }}
        </td>
      </ng-container>

      <ng-container matColumnDef="noData">
        <td
          mat-cell
          class="dc-label no-data-cell"
          *matCellDef="let element"
          [attr.colspan]="displayedColumns.length"
        >
          <ng-container *ngIf="!(error$ | async) && !loading">
            <span class="dc-content">No Coins</span>
          </ng-container>
          <ng-container *ngIf="(error$ | async) && !loading">
            <span class="dc-label">System Failure</span>
            <span class="dc-content">Error</span>
            <span class="retry" (click)="retry()">Retry</span>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <ng-container *ngIf="coinTotal && !loading">
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          class="customer-row"
          [routerLink]="['/coin-details/' + row.id]"
        ></tr>
      </ng-container>
      <ng-container *ngIf="!coinTotal && !loading">
        <tr
          mat-row
          *matRowDef="let row; columns: ['noData']"
          class="no-data-row"
        ></tr>
      </ng-container>
    </table>

    <mat-paginator
      [length]="coinTotal"
      [pageSize]="15"
      [pageSizeOptions]="[15, 5, 10]"
    ></mat-paginator>
  </div>
  <div class="float-right refresh-button" id="refresh-button">
    <button mat-raised-button [color]="'refresh'" (click)="refresh()">
      Refresh
    </button>
  </div>
</div>
